/* ProfileAvatar */
.rotate2 {
  -webkit-transition: transform 1s linear;
  -moz-transition: transform 1s linear;
  -o-transition: transform 1s linear;
  transition: transform 1s linear;
}

.rotate2:hover {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}

.rotate3 {
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}

.rotate3:hover {
  -webkit-transform: rotateZ(40deg);
  -moz-transform: rotateZ(40deg);
  -o-transform: rotateZ(40deg);
  transform: rotateZ(40deg);
}

.element {
  -webkit-transition: transform 0.2s linear;
  -moz-transition: transform 0.2s linear;
  -o-transition: transform 0.2s linear;
  transition: transform 0.2s linear;
}

.element:hover {
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -o-transform: scale(1.5);
  transform: scale(1.5);
}

.hithere {
  animation: hithere 1s ease infinite;
}
@keyframes hithere {
  30% {
    transform: scale(1.2);
  }
  40%,
  60% {
    transform: rotate(-20deg) scale(1.2);
  }
  50% {
    transform: rotate(20deg) scale(1.2);
  }
  70% {
    transform: rotate(0deg) scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
/* /////////////////// */

/* //reserved auction// */

.reserved {
  box-shadow: 0 0 0 0 rgba(255, 82, 82, 1);
  animation: pulse-red 2s infinite;
}

@keyframes pulse-red {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0.7);
  }

  70% {
    box-shadow: 0 0 0 4px rgba(255, 82, 82, 0.3);
  }

  100% {
    box-shadow: 0 0 0 0 rgba(255, 82, 82, 0);
  }
}

/* /////////////////// */
